/*
Animations
Bootsmooth 1.0.5

Popup Layer
Replacement for the not-yet-implemented modal dialog
*/

/* Animation Delay Timer */
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-delay: $delay;
}

@for $i from 1 through 6 {
  .bs-delay-#{$i} {
    @include animation-delay(#{$i}s);
  }
}

// ********************
// fadeIn
// ********************
$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
// usage: @include fadeIn(2s)
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}
