
// FORMS
.bs-form {
    margin: 0 auto;
    position:relative;
    width: 100%;
}

fieldset {
    border: none;
    border-radius: $border-radius;
}

.bs-form-input {
    display: block;
    width: 100%;
    padding: $spacing/2 $spacing;
    color: $foreground-color;
    background-color: $background-color;
    background-image: none;
    border: $border;
    border-radius: $border-radius;
    vertical-align: middle;
    line-height: $line-height;

    // remove webkit default outline
    &:focus {
        outline: none;
    }
}

// CHECK & RADIO BOXES

input[type=checkbox], input[type=radio] {
	visibility: hidden;
}

// Radio
input[type="radio"] + span {
    background-color: $background-color;
    border: $border;
    border-radius: 100%;
    display: inline-block;
    padding: $spacing;
    position: relative;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:checked + span {
    @extend .bs-shadowed;
    color: $primary-color;
    background: $primary-color;
}
input[type="radio"]:checked + span:after {
    background: $primary-color;
    height: 100%;
    width: 100%;
}

// Checkbox

input[type="checkbox"] + span {
    background-color: $background-color;
    border: $border;
    border-radius: $border-radius;
    display: inline-block;
    padding: $spacing;
    position: relative;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"]:checked + span {
    @extend .shadowed;
    background-color: $primary-color;
}

input[type="checkbox"]:checked + span:after {
    background: $primary-color;
    height: 100%;
    width: 100%;
}
