// TABLES
.bs-table {
    @extend .bs-center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
      padding: $spacing;
    }
}

.bs-table-bordered {
    td, th {
        @extend .bs-bordered;
    }
}
