
// spacing
$spacing: 10px  !default; // holdover from 1.x -- will remove
$margin: $spacing !default;
$padding: $spacing  !default;
$block-padding: $spacing * 2  !default;

// CONTAINER AND GRID
$container-width: 95%  !default;
$container-max-width: 1024px  !default;
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;

// MEDIA QUERIES
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// COLORS

$grey-dark: #5c5e5d !default;
$grey: #d8d8d4 !default;
$grey-light: #b3afa8 !default;
$white: #fff !default;

$background-color: $white !default;
$foreground-color: $grey-dark !default;

$primary-color: #2A4C99;	// Main Primary color */
$secondary-color-1: #20A74E;	// Main Secondary color (1) */
$secondary-color-2: #E4482C;	// Main Secondary color (2) */
$complement-color: #E4A72C;	// Main Complement color */

$color-variation: 10% !default;

$background-color-dark: darken($background-color, $color-variation)  !default;
$foreground-color-dark: darken($foreground-color, $color-variation)  !default;
$primary-color-dark: darken($primary-color, $color-variation)  !default;
$secondary-color-1-dark: darken($secondary-color-1, $color-variation)  !default;
$secondary-color-2-dark: darken($secondary-color-2, $color-variation)  !default;
$complement-color-dark: darken($complement-color, $color-variation)  !default;

$background-color-light: lighten($background-color, $color-variation)  !default;
$foreground-color-light: lighten($foreground-color, $color-variation)  !default;
$primary-color-light: lighten($primary-color, $color-variation)  !default;
$secondary-color-1-light: lighten($secondary-color-1, $color-variation)  !default;
$secondary-color-2-light: darken($secondary-color-2, $color-variation)  !default;
$complement-color-light: darken($complement-color, $color-variation)  !default;

// TYPOGRAPHY

// set modular scale variables
$ms-base: 1rem;
$ms-ratio: 1.2;
$font-body: Helvectica, sans-serif !default;
$font-size: 1.0rem !default;
$font-size-small: ms(-1) !default;
$font-size-large: ms(1) !default;
$font-weight: 300;
$font-button: $font-body;

$typography-margin: 1rem !default;
$h-margin: 1rem !default;
$letter-spacing: 0px;

$heading-font: $font-body !default;
$heading-color: $secondary-color-2 !default;
$line-height: 1.48 !default;
$heading-line-height: 1.33 !default;
$heading-letter-spacing: $letter-spacing;

$h1-size: ms(5) !default;
$h1-line-height: $heading-line-height !default;
$h2-size: ms(4) !default;
$h2-line-height: $heading-line-height !default;
$h3-size: ms(3) !default;
$h3-line-height: $heading-line-height !default;
$h4-size: ms(2) !default;
$h4-line-height: $heading-line-height !default;
$h5-size: ms(1) !default;
$h5-line-height: $heading-line-height !default;
$h6-size: ms(0) !default;
$h6-line-height: $heading-line-height !default;
$block-margin: $margin !default;

// STYLES

// border vars and mixins
$border-color: $foreground-color-light !default;
$border-radius: 4px !default;
$border-width: 1px !default;
$border-style: solid !default;
$border: $border-width $border-style $border-color !default;

@mixin border($color) {
	border: $border-width $border-style $color;
	border-radius: $border-radius;
}

$list-item-border: $border !default;

// shadows

$shadow-color: transparentize($foreground-color, 0.5) !default;
$shadow-radius: 8px !default;
$shadow-x-offset: 0px !default;
$shadow-y-offset: 0px !default;
$shadow: $shadow-x-offset $shadow-y-offset $shadow-radius $shadow-color !default;

@mixin shadow($color) {
	box-shadow: $shadow-x-offset $shadow-y-offset $shadow-radius $color !important;
	-web-kit-box-shadow: $shadow-x-offset $shadow-y-offset $shadow-radius $color !important; 
}

// animations
$transition-time: 0.35s !default;
$animation-duration: 0.4s !default;

// COMPONENTS

// links
$link-color: $primary-color  !default;
$link-visited-color: $primary-color-light  !default;
$link-hover-color: $primary-color-dark  !default;
$link-decoration: underline  !default;

// buttons
$button-background-color: $primary-color  !default;
$button-foreground-color: #FFF  !default;
$button-foreground-color-secondary-1: #FFF !default;
$button-foreground-color-secondary-2: #FFF !default;
$button-foreground-color-complement: #FFF !default;
$button-hover-background-color: $primary-color-dark  !default;
$button-hover-foreground-color: $button-foreground-color  !default;
$button-padding: $padding $padding*2  !default;
$button-border: none  !default;
$button-border-radius: $border-radius;
$button-shadow: $shadow;

// nav
$nav-background-color: $primary-color  !default;
$nav-foreground-color: #FFF  !default;
$nav-hover-background-color: $primary-color-dark  !default;
$nav-hover-foreground-color: $nav-foreground-color  !default;
$nav-title-color: $nav-foreground-color !default;
$nav-title-background-color: $nav-background-color !default;
$nav-font-size: 1.0rem !default;
$nav-element-padding: 16px !default;
$nav-mobile-margin: $margin !default;
$fixed-nav-padding: 55px !default;

// minimum sub menu item width
$nav-sub-menu-width: 150px !default;
$nav-line-height: $line-height;

// lists
$list-item-padding: $padding !default;

// slideouts
$slideout-width: 240px !default;
$slideout-height: 75px !default;

$slideout-open-animation: fadeInRight;
$slideout-close-animation: fadeOutRight;

// cards
$card-image-height: 200px !default;
$card-background-color: $background-color !default;
$card-foreground-color: $foreground-color !default;
$card-shadow: none !default;
$card-border: $border !default;
$card-header-font-size: ms(2) !default;

// LAYOUT

// footer
$footer-padding: $block-padding !default;
$footer-foreground-color: $foreground-color !default;
$footer-background-color: $background-color !default;
$footer-border: 1px solid $primary-color;

// z-index layers
$z-index-negtive: -1;
$z-index-0: 0;
$z-index-10: 10;
$z-index-100: 100;
$z-index-500: 500;
$z-index-1000: 1000;