// BUTTONS
@mixin button {
	transition: all $transition-time ease;
	font-family: $font-button;
	font-size: $font-size;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance:none;
	border: $button-border;
	padding: $button-padding;
	border-radius: $button-border-radius;
	box-shadow: $button-shadow;
}

button.btn, input[type=submit].btn, .btn, a.btn {
	@include button;
   
    background-color: $button-background-color;
    color: $button-foreground-color;

    &:hover {
        background-color: $button-hover-background-color;
		color: $button-hover-foreground-color;
    }

	&:visited {
		color: $button-foreground-color;
	}
}

// secondary
a.btn-secondary, button.btn-secondary, input[type="submit"].btn-secondary {
	@include button;
	background-color: $secondary-color-1;
	color: $button-foreground-color-secondary-1;

	&:hover {
		background-color: $secondary-color-1-dark;
		color: $button-foreground-color-secondary-1;
	}
}

// secondary-2
a.btn-secondary-2, button.btn-secondary-2, input[type="submit"].btn-secondary-2 {
	@include button;
	background-color: $secondary-color-2;
	color: $button-foreground-color-secondary-2;

	&:hover {
		background-color: $secondary-color-2-dark;
		color: $button-foreground-color-secondary-2;
	}
}

// complement
a.btn-complement, button.btn-complement, input[type="submit"].btn-complement {
	@include button;
	background-color: $complement-color;
	color: $button-foreground-color-complement;

	&:hover {
		background-color: $complement-color-dark;
		color: $button-foreground-color-complement;
	}
}

// inverse
a.btn-inverse, button.btn-inverse, input[type="submit"].btn-inverse {
	@include button;
	background-color: $foreground-color;
	color: $background-color;

	&:hover {
		background-color: $foreground-color-dark;
		color: $background-color;
	}
}

// flat
a.btn-flat, button.btn-flat, input[type="submit"].btn-flat {
	@include button;
	
	background: transparent !important;
	color: $foreground-color !important;
	border: $border;
	&:hover {
		background-color: $foreground-color-dark;
		color: $background-color;
	}
}



// circle buttons
.circle {
	border-radius: 50%;
	line-height: 1;
	padding: $padding !important;
}

// button groups
.btn-group {
	margin: $spacing 0;
	
	[class*='btn'] {
		// add right margin
		margin-right: $spacing;
		margin-bottom: $spacing;
		
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
	}

}