// BUTTONS
@mixin button {
	// @extend .shadow;
	transition: background-color $transition-time ease;
	font-family: $font-button;
	font-size: $font-size;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    //margin-bottom: $spacing;
    -webkit-appearance:none;
	border: $button-border;
	padding: $button-padding;
}

@mixin button-flat($color) {
	background-color: $background-color;
	color: $foreground-color;
	border: none;

	&:hover {
		//@include shadow($foreground-color);
		background-color: $background-color;
		color: $primary-color;
	}
}

button.btn, input[type=submit].btn, .btn, a.btn {
	@include button;
   
    background-color: $button-background-color;
    color: $button-foreground-color;

    &:hover {
		//@extend .shadow;
        background-color: $button-hover-background-color;
		color: $button-hover-foreground-color;
    }

	&:visited {
		color: $button-foreground-color;
	}
}

// secondary
a.btn-secondary, button.btn-secondary, input[type="submit"].btn-secondary {
	@include button;
	background-color: $secondary-color-1;
	color: $button-foreground-color-secondary-1;
	border: none;

	&:hover {
		background-color: $secondary-color-1-dark;
		color: $button-foreground-color-secondary-1;
	}
}

// circle buttons
.circle {
	border-radius: 50%;
	line-height: 1;
	padding: $padding !important;
}