// color classes

.bg-inverse {
    background-color: $foreground-color !important;
}

.fg-inverse {
    color: $background-color !important;
}

.bg-primary { background-color: $primary-color !important; }
.bg-foreground { background-color: $foreground-color !important; }
.bg-default { background-color: $background-color !important; }

.fg-primary { color: $primary-color !important; }
.fg-background { color: $background-color !important; }

.fg-secondary { color: $secondary-color-1 !important; }
.bg-secondary { background-color: $secondary-color-1 !important; }


