@mixin flex-items-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: no-wrap;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}