
// FORMS
.bs-form {
    margin: 0 auto;
    position:relative;
    width: 100%;
	input, textarea {
		font-size: $font-size;
	}
}

fieldset {
    border: none;
    border-radius: $border-radius;
}

.bs-form-input {
    display: block;
    width: 100%;
    padding: $spacing/2 $spacing;
    color: $foreground-color;
    background-color: $background-color;
    background-image: none;
    //border: $border;
    border-radius: $border-radius;
	border: $border;
// todo: add $form-shadow and $form-border
//	box-shadow: $shadow;
//    vertical-align: middle;
    line-height: $line-height;

    // remove webkit default outline
    &:focus {
        outline: none;
    }
}


// CHECK & RADIO BOXES

input[type=checkbox].bs-checkbox, input[type=radio].bs-radio {
	visibility: hidden;
	width: 0px;
}

// Radio
input[type="radio"].bs-radio + span.bs-radio-label {
    background-color: $background-color;
    border: $border;
    border-radius: 100%;
    display: inline-block;
    //padding: $spacing;
	width: 16px;
	height: 16px;
    position: relative;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }
}

input[type="radio"].bs-radio:checked + span.bs-radio-label {
    @extend .bs-shadow;
    color: $primary-color;
    background: $primary-color;
}
input[type="radio"].bs-radio:checked + span.bs-radio-label:after {
    background: $primary-color;
    height: 100%;
    width: 100%;
}

// Checkbox

input[type="checkbox"].bs-checkbox + span.bs-checkbox-label {
    background-color: $background-color;
    border: $border;
    border-radius: $border-radius;
    display: inline-block;
    //padding: $spacing;
	width: 16px;
	height: 16px;
    position: relative;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"].bs-checkbox:checked + span.bs-checkbox-label {
    @extend .bs-shadow;
    background-color: $primary-color;
}

input[type="checkbox"].bs-checkbox:checked + span.bs-checkbox-label:after {
    background: $primary-color;
    height: 100%;
    width: 100%;
}
