// Bootsmooth Grid

// Global Border Box Mixins
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    @include border-box;
}

// Global Clearfix Rule
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Container and Rows
.bs-container {
	margin: 0 auto;
	width: $container-width;
	max-width: $container-max-width;
}

[role="grid"], [role="row"], .bs-container, .bs-row {
    @extend %clearfix;
}

[role="row"].bs-row, .bs-row {
    margin-top: 0;
}

// bs-gutter (bs-row-pad < 2.0.4)
.bs-gutter [class*="bs-col-"], .bs-row-pad [class*="bs-col-"] {
	@media (min-with: $breakpoint-medium) {
		padding: 0px $padding;
		
		&:first-child {
			padding-left: 0px;
		}
		
		&:last-child {
			padding-right: 0px;
		}
	}
}

// Columns

// Global Mixin
@mixin grid-column {
	float: left;
    width: 100%;
    min-height: 1px;
}

// All Column Classes
[role="gridcell"], [class*='bs-col-'] {
    @include grid-column;
}

// Medium Device Column Breakpoint
@media (min-width: $breakpoint-medium) {
	 // use for loop to set col widths
	@for $i from 1 through $grid-columns {
		.bs-col-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}


// Large Device Column Breakpoint
@media (min-width: $breakpoint-large) {
	// use for loop to set col widths
	@for $i from 1 through $grid-columns {
		.bs-col-large-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}
}

/* Column by Percentage */

// Medium
@media (min-width: $breakpoint-medium) {
	.bs-col-25 {
		width: 25%;
	}

	.bs-col-33 {
		width: 33.33%;
	}

	.bs-col-50 {
		width: 50%;
	}

	.bs-col-75 {
		width: 75%;
	}
}

// Large
@media (min-width: $breakpoint-large) {
	.bs-col-large-25 {
		width: 25%;
	}

	.bs-col-large-33 {
		width: 33.33%;
	}

	.bs-col-large-50 {
		width: 50%;
	}

	.bs-col-large-75 {
		width: 75%;
	}
}

.bs-col-100 {
	width: 100%;
}