// list groups, panels, etc

$list-item-padding: $padding;

// LIST
.list {
    border-radius: $border-radius;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;

    .list-item {
        padding: $list-item-padding;

        &:last-child {
            border-bottom: none;
        }
    }
}

.list-border {
	li.list-item {
		border-bottom: $list-item-border;
	}
}

.list-links {
    @extend .list;
    
    li {
        text-align: center;
        
        a {
            padding: $padding;
            display: block;
            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}