// modal dialog and slideouts
.modal {
  display: none;
}

@mixin modal-overlay {
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: auto;
}

// Background Overlay
.modal-overlay {
  @include modal-overlay;
  background-color: transparentize($grey-dark, 0.7);
  //opacity: 0.9;
}

// Full Screen Modal
.modal-full {
	@include modal-overlay;
	background-color: $background-color;
	color: $foreground-color;
	display: none;
}

// Centered Dialog
.modal-dialog {
  @extend .container;

  z-index:10000;
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  border: $border;
  background-color: $background-color;
  box-shadow: $shadow;
}

// Block with Left Aligned Text
.modal-dialog-content {
  text-align: left;
}

// Close Button
.modal-close {
  position: absolute;
  top: $spacing;
  right: $spacing;
  cursor: pointer;
}


// Slideout Component
.slideout {
  padding: $spacing;
  background-color: $background-color;
  border: $border;
  box-shadow: $shadow;
  z-index:9999;
  display: none;
}

.slideout-left {
  @extend .fixed-top-left;
  @extend .slideout;

  top:0;
  left:0;
  width: $slideout-width;
  height:100%;
}

.slideout-right {
  @extend .fixed-top-right;
  @extend .slideout;

  width: $slideout-width;
  height:100%;
}

.slideout-bottom {
  @extend .fixed-bottom-left;
  @extend .slideout;

  width:100%;
  min-height: $slideout-height;
}

.slideout-top {
  @extend .fixed-top-left;
  @extend .slideout;

  width:100%;
  min-height: $slideout-height;
}
