// include variable first
$sub-menu-animation: fadeIn;
$sub-menu-animation-duration: 0.3s;

$wide-sub-menu-animation: fadeIn;
$wide-sub-menu-animation-duration: 0.3s;

.nav {
	z-index: $z-index-100;
	background-color: $nav-background-color;
	color: $nav-foreground-color;
	font-size: $nav-font-size;
	width: 100%;
	
	.container {
		@include flex-items-center;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
  	// nav title
	.nav-title {
		padding: $nav-element-padding;
		color: $nav-title-color;
		background-color: $nav-title-background-color;
		
		a {
			color: $white;
		}
	}
	
	// optional nav logo
	.nav-logo {
        float: left;
        padding:  $nav-element-padding;

	    img{
	       
    		@extend .img;
    		@extend .shadow;
    		max-height: 40px; 
    		border-radius: 25%;
	    }
	}

  	// nav menu
	ul.nav-menu {

		z-index: 999;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

	}

	// menu element
	li.menu-item {

		float: left;

		// menu links
		a {
			display: block;
			text-align: center;
			padding: $nav-element-padding;
			text-decoration: none;
			cursor: pointer;
			color: $nav-foreground-color;
			transition: $transition-time;

			&:hover {
				color: $nav-hover-foreground-color;
				background-color: $nav-hover-background-color;
			}
		}
	}
	
	i.fa {
		cursor: pointer;
	}
	
	// dropdown sub menu
	li.menu-item-has-children {
		ul.nav-menu {
			position: absolute;
			width: inherit;
			display: none;
			color: $nav-foreground-color;
			background-color: $nav-background-color;
		
			// submenu element
			li.menu-item {
				display: block;
				float: none !important;
				min-width: $nav-sub-menu-width;
				
				a {
						text-align: left;
						@media #{$small-and-down} {
							text-align: center !important;
						}
				}
				
			}
		}

		// full width dropdown sub menu
		.wide-menu {
			color: $nav-foreground-color;
			background-color: $nav-background-color;
			padding:0;
			display:none;
			width: 100%;
			position: absolute;
			left: 0px;
		}

		// show sub on hover
		&:hover ul.nav-menu {
			display: block;
			// @include fadeIn($transition-time);
			@include animation-duration($sub-menu-animation-duration);
			//@extend .animated;
			@extend .#{$sub-menu-animation} !optional;
		}

		// show sub on hover
		&:hover .wide-menu {
			display: block;
			// @include fadeIn($transition-time);
			@include animation-duration($wide-sub-menu-animation-duration);
			//@extend .animated;
			@extend .#{$wide-sub-menu-animation} !optional;
		}
	}
	
	// nav menu toggle
	.nav-menu-toggle, .nav-menu-toggle-small {
		padding:  $nav-element-padding;
	}
	
	.nav-menu-toggle-small {
		display: none;
		text-align: center;
		margin: 0px $nav-element-padding;
		
		@media #{$small-and-down} {
			display: inline !important;
			padding: $nav-element-padding 0;
		}
	}
}

// small screen
@media #{$small-and-down} {
  .nav {
    width: 100%;
    padding: 0;
	position: relative;

	// set container width to 100%
	.container {
		width: 100%;
		display: flex;
	}

	// nav title
    .nav-title {
      display: block;
      padding: $nav-element-padding;
      float: none;
      text-align: center;
      cursor: pointer;
      background-color: $nav-background-color;
      color: $nav-foreground-color;
      position: relative;
    }
    

    // nav menu
   	ul.nav-menu {
		width: 100%;
		display: none;
		position: relative;
		top: 0;
		background-color: $nav-background-color;
		color: $nav-foreground-color;
    }

    // nav menu item
	li.menu-item {
		float: none;
		clear: both;
		display: table;
		margin: 0 auto;
		width: 100%;
		
		// submenu
		ul.nav-menu {
			display: block;
			position: relative;
		}
		// full width
		.wide-menu {
		  display: block;
		  position: relative;
		}
    }

  }
}

