// color palette
// the main four are expected, the other varations are optional

$color-primary-0: #336AA0;	// Main Primary color */
$color-primary-1: #7CA7D0;
$color-primary-2: #5083B4;
$color-primary-3: #165796;
$color-primary-4: #0D4172;

$color-secondary-1-0: #6338A8;	// Main Secondary color (1) */
$color-secondary-1-1: #A180D4;
$color-secondary-1-2: #7D55BB;
$color-secondary-1-3: #4D1A9D;
$color-secondary-1-4: #391078;

$color-secondary-2-0: #5CD137;	// Main Secondary color (2) */
$color-secondary-2-1: #9DEA85;
$color-secondary-2-2: #79DF59;
$color-secondary-2-3: #3BC410;
$color-secondary-2-4: #299507;

$color-complement-0: #F6AD41;	// Main Complement color */
$color-complement-1: #FFD290;
$color-complement-2: #FFC166;
$color-complement-3: #E79012;
$color-complement-4: #B06C08;