// center things vertically

.bs-vcenter-rel {
    position: relative
}

.bs-vcenter-abs {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	// padding: 0 $spacing;
}


// fixed position
.bs-fixed {
    position: fixed;
}

// fixed elements
.bs-fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.bs-fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.bs-fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.bs-fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}
