// floating classes
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearboth {
    clear: both;
}

// vertically center elements absolutely
// TODO: replace with flexbox
.vcenter-rel {
    position: relative
}

.vcenter-abs {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.vcenter-no-small {
    @extend .vcenter-abs;
    @media #{$small-and-down} {
        position: initial;
        transform: none;
        margin: initial;
    }
}

// fullscreen class
.fullscreen {
    height: 100vh;
    position: relative;
    
    // return to default size on mobile
    @media #{$small-and-down} {
        height: auto !important;
        position: initial;
    }
}

// fixed position
.fixed {
    position: fixed;
}

// fixed elements
.fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}
