// bootsmooth supporting styles

// padding element
.padding { 
	padding: $padding;
}

// block element
.block {
	padding-top: $block-padding;
	padding-bottom: $block-padding;
}

// center block elements
.block-center {
    display: block;
    margin: 0 auto;
}

// margins (same as typography margins)
.margin-top {
	margin-top: $typography-margin;
}

.margin-bottom {
	margin-bottom: $typography-margin;
}

.margin {
	margin-top: $typography-margin;
	margin-bottom: $typography-margin;
}

// scrollable elements
.scrollable {
	overflow: auto;
}
.scrollableX {
    overflow-x:auto;
}

.scrollableY {
    overflow-y:auto;
}

// Border classes
.border {
    @include border($border-color);
}

// shadow support class
.shadow {
    @include shadow($shadow-color);
}

// image
.img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

// video
.video {
    max-width: 100%;
    height: auto;
}

// responsive display classes
// small
@media #{$small-and-down} {
	.hidden-small {
		display: none;
	}

	.show-small {
		display: initial !important;
	}

	.hidden-medium {
		display: initial;
	}

	.show-medium {
		display: none;
	}

	.hidden-large {
		display: initial;
	}

	.show-large {
		display: none;
	}
}

// medium
@media #{$medium-and-up} {
	.hidden-small {
		display: initial;
	}

	.show-small {
		display: none;
	}

	.hidden-medium {
		display: none;
	}

	.show-medium {
		display: initial !important;
	}

	.hidden-large {
		display: initial;
	}

	.show-large {
		display: none;
	}
}

// large
@media #{$large-and-up} {
	.hidden-small {
		display: initial;
	}

	.show-small {
		display: none;
	}

	.hidden-medium {
		display: initial;
	}

	.show-medium {
		display: none;
	}

	.hidden-large {
		display: none;
	}

	.show-large {
		display: initial !important;
	}
}