// typography
// Inspired by Typebase v0.1.0

// center text
.bs-text-center {
	text-align: center;
}

html {
	font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: $breakpoint-small) {
	html {
		font-size: 100%;
	}
}

// set body
body {
    font-weight: $font-weight;
    line-height: $line-height;
    font-family: $font-body;
	letter-spacing: $letter-spacing;
    background-color: $background-color;
    color: $foreground-color;
}

// links
a {
    cursor: pointer;
    color: $link-color;
	text-decoration: $link-decoration;

    &:visited {
			color: $link-visited-color;
    }

    &:hover {
			color: $link-hover-color;
    }
}

// spacing
pre, blockquote, dl, figure, table, form {
    margin-bottom: $block-margin;
}

p, ul, ol, blockquote {
	margin-bottom: $typography-margin;
}

h1, h2, h3, h4, h5, h6 {
	//margin-top: $h-margin;
	//margin-bottom: $h-margin;
	font-family: $heading-font;
	line-height: $line-height;
	word-wrap: break-word;
	margin-bottom: $typography-margin;
}

// headings
h1 {
	font-size: $h1-size;
	line-height: $h1-line-height;
}
h2 {
	font-size: $h2-size;
	line-height: $h2-line-height;
}

h3 {
	font-size: $h3-size;
	line-height: $h3-line-height;
}
h4 {
	font-size: $h4-size;
}
h5 {
	font-size: $h5-size;
}
h6 {
	font-size: $h6-size;
}

// matching classes
@for $i from 1 through 6 {
    .bs-h#{$i} {
        @extend h#{$i};
    }
}

// text alignment
.bs-text-center {
    text-align: center;
}
.bs-text-left {
    text-align: left;
}
.bs-text-right {
    text-align: right;
}

.bs-pull-right {
    float: right;
}

.bs-pull-left {
    float: left;
}

// lists

ul,
ol {
	//margin-top: $block-margin;
	//margin-bottom: $block-margin;
	list-style-position: inside;
	//line-height: $line-height;
}
ul li,
ol li {
	line-height: $line-height;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

// CODE AND PRE
pre, code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
	vertical-align: bottom;
}

// Blockquotes

blockquote {
	border-left: $padding solid $foreground-color;
	margin-left: 0;
	margin-right: 0;
	padding: $padding $padding*2;
	line-height: $line-height;
	//margin-top: $block-margin;
	//margin-bottom: $block-margin;
}

// Lead class
.bs-lead {
	font-size: $h3-size;
}
