
// spacing
$padding: 10px  !default;
$block-padding: $padding * 2  !default;
$spacing: $padding  !default; // holdover from 1.x -- will remove

// Grid
$container-width: 95%  !default;
$container-max-width: 1024px  !default;
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;

// media queries (Materialize)
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// general color definitions

// greys
$grey-dark: #5c5e5d !default;
$grey: #d8d8d4 !default;
$grey-light: #b3afa8 !default;
$white: #fff !default;

$background-color: $white !default;
$foreground-color: $grey-dark !default;

$primary-color: #66a093 !default;
$secondary-color-1: #d37838 !default;

$color-variation: 10% !default;

$background-color-dark: darken($background-color, $color-variation)  !default;
$foreground-color-dark: darken($foreground-color, $color-variation)  !default;
$primary-color-dark: darken($primary-color, $color-variation)  !default;
$secondary-color-1-dark: darken($secondary-color-1, $color-variation)  !default;

$background-color-light: lighten($background-color, $color-variation)  !default;
$foreground-color-light: lighten($foreground-color, $color-variation)  !default;
$primary-color-light: lighten($primary-color, $color-variation)  !default;
$secondary-color-1-light: lighten($secondary-color-1, $color-variation)  !default;

// font
$font-body: Helvectica, sans-serif !default;
$font-size: 1.0rem !default;
$font-size-small: ms(-1) !default;
$font-size-large: ms(1) !default;
$font-weight: 300;

$font-button: $font-body;
$heading-font: $font-body !default;

// set modular scale variables
$ms-base: 1rem;
$ms-ratio: 1.33;

$line-height: 1.33 !default;

$h1-size: ms(5) !default;
$h1-line-height: $line-height !default;
$h2-size: ms(4) !default;
$h2-line-height: $line-height !default;
$h3-size: ms(3) !default;
$h3-line-height: $line-height !default;
$h4-size: ms(2) !default;
$h4-line-height: $line-height !default;
$h5-size: ms(1) !default;
$h5-line-height: $line-height !default;
$h6-size: ms(0) !default;
$h6-line-height: $line-height !default;

$typography-margin: initial !default;
$h-margin: initial !default;
$block-margin: $padding !default;

// links
$link-color: $primary-color  !default;
$link-visited-color: $primary-color-light  !default;
$link-hover-color: $primary-color-dark  !default;
$link-decoration: underline  !default;

// buttons
$button-background-color: $primary-color  !default;
$button-foreground-color: #FFF  !default;
$button-foreground-color-secondary-1: #FFF !default;
$button-foreground-color-secondary-2: #FFF !default;
$button-foreground-color-complement: #FFF !default;
$button-hover-background-color: $primary-color-dark  !default;
$button-hover-foreground-color: $button-foreground-color  !default;
$button-padding: $padding $padding*2  !default;
$button-border: none  !default;

// nav
$nav-background-color: $primary-color  !default;
$nav-foreground-color: #FFF  !default;
$nav-hover-background-color: $primary-color-dark  !default;
$nav-hover-foreground-color: $nav-foreground-color  !default;
$nav-title-color: $nav-foreground-color !default;
$nav-title-background-color: $nav-background-color !default;
$nav-pad: $spacing !default;
$nav-font-size: 1.0rem !default;
$nav-element-padding: 16px !default;
$nav-mobile-margin: 8px !default;

// minimum sub menu item width
$nav-sub-menu-width: 150px !default;
$nav-line-height: $line-height;

$letter-spacing: 0.0rem;

// border vars and mixins
$border-color: $grey-light !default;
$border-radius: 0px !default;
$border-width: 1px !default;
$border-style: solid !default;
$border: $border-width $border-style $border-color !default;

@mixin border($color) {
	border: $border-width $border-style $color;
	border-radius: $border-radius;
}

$list-item-border: $border !default;

// footer
$footer-padding: $block-padding !default;

// animations
$transition-time: 0s !default;

// shadows
$shadow-color: $foreground-color !default;
$shadow-radius: 4px !default;
$shadow-x-offset: 0px !default;
$shadow-y-offset: 1px !default;
// $shadow: $shadow-x-offset $shadow-y-offset $shadow-radius $shadow-color !default;
$shadow: none;

@mixin shadow($color) {
	box-shadow: $shadow-x-offset $shadow-y-offset $shadow-radius $color;
	-web-kit-box-shadow: $shadow-x-offset $shadow-y-offset $shadow-radius $color; 
}


// lists
$list-item-padding: $padding !default;

// slideouts
$slideout-width: 240px !default;
$slideout-height: 75px !default;
