<p><b>Bootsmooth Components</b> is a set of Angular directives that implement many features users expect from web apps.</p>
<br>
<h3>Date & Time</h3>
<p>A ticking clock with the date.</p>
<date-time></date-time>
<br>

<br>
<h3>Navigation Bar</h3>
<p>A navigation bar with link components</p>
<navbar name="example-nav" title="Example Navbar">
    <navbar-link href="#/showcase">Example Link</navbar-link>
</navbar>
<br>

<br>
<h3>Buttons</h3>
<btn ng-click="sayHello()">Regular Button</btn>
<btn type="flat" ng-click="sayHello()">Flat Button</btn>
<btn href="#/" target="_blank">Link Button</btn>
<br>
<h3>Modal</h3>
<p>A dialog box</p>
<btn type="flat" ng-click='toggleModal()'>Show Modal (from directive)</btn>
<br>

<br>
<h3>Image Box</h3>
<p>A clickable image which opens the full image in a dialog</p>
<div class="row">
    <div class="col-3">
        <image-box url="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/602183_10101332947624329_1178998390_n.jpg?oh=e872daf8c57a1747bacfe856a4b58bbc&oe=57065AD6"></image-box>
    </div>
     <div class="col-3">
        <image-box url="https://scontent-iad3-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/10322660_10102471934620259_1565898059849277021_n.jpg?oh=1f6f80ccf8aacb8eee98f376e1e29758&oe=57130F5B"></image-box>
    </div>
     <div class="col-3">
        <image-box url="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xaf1/t31.0-8/458839_10101441182231309_1441935465_o.jpg"></image-box>
    </div>
</div>
<br>

<!-- modal -->
<modal-dialog show='modalShown'>
    <p>This is a modal dialog.<p>
    <p>Put some content here.</p>
    <p>Here is a directive in this directive:</p>
    <date-time></date-time>
</modal-dialog>
