// BUTTONS
.btn, a.btn {
    @extend .bordered;
    
    transition: background-color $transition-time ease;
    
    display: inline-block;
    height: $btn-height;
    padding: 0 $spacing;
    text-align: center;
    font-weight: 600;
    line-height: $btn-height;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: $spacing;
    -webkit-appearance:none;
    background-color: $background-color;
    color: $foreground-color;
    
    &:hover {
        background-color: $background-color-dark;
    }
}

.btn-primary, a.btn-primary {
    @extend .btn;
    background-color: $primary-color;
    
    &:hover {
        background-color: $primary-color-dark;
    }
}
.btn-success, a.btn-success {
    @extend .btn;
    background-color: $success-color;

    &:hover {
        background-color: $success-color-dark;
    }
}
.btn-warning, a.btn-warning {
    @extend .btn;
    background-color: $warning-color;

    &:hover {
        background-color: $warning-color-dark;
    }
}
.btn-info, a.btn-info {
    @extend .btn;
    background-color: $info-color;

    &:hover {
        background-color: $info-color-dark;
    }
}
.btn-attention, a.btn-attention {
    @extend .btn;
    background-color: $attention-color;

    &:hover {
        background-color: $attention-color-dark;
    }
}

.btn-flat, a.btn-flat {
    @extend .btn;
    background: transparent;
    color: $foreground-color;
    
    &:hover {
        background: transparent;
    }
}

.btn-flat-inverse, a.btn-flat-inverse {
    @extend .btn-flat;
    border: $border-inverse;
    color: $background-color;

}

.btn-inverse, a.btn-inverse {
    @extend .btn;
    border: $border-inverse;
    color: $background-color;
    background-color: $foreground-color;
    
    &:hover {
        background-color: $foreground-color;
    }
}