// colors defined in _variables

// color classes
.color-inverse {
    background-color: $foreground-color !important;
    color: $background-color !important;
}
.bg-primary { background-color: $primary-color !important; }
.bg-attention { background-color: $attention-color !important; }
.bg-warning { background-color: $warning-color !important;}
.bg-success { background-color: $success-color !important; }
.bg-info { background-color: $info-color !important; }
.bg-active { background-color: $active-color !important; }

.txt-background { color: $background-color !important; }
.txt-primary { color: $primary-color !important; }
.txt-attention { color: $attention-color !important; }
.txt-warning { color: $warning-color !important; }
.txt-success { color: $success-color !important; }
.txt-info { color: $info-color !important; }
.txt-active { color: $active-color !important; }