// bootsmooth icon classes

i.ico {
   font-style: normal;
}

.ico-home:before {
   content: "\1f3e0";
}

.ico-bars:before {
   content: "\2261";
}

.ico-thumbs-up:before {
   content: "\1F44D";
}

.ico-thumbs-down:before {
   content: "\1F44E";
}

.ico-gear:before {
   content: "\2699";
}

.ico-arrow-down:before {
   content: "\9660";
}

.ico-pencil:before {
   content: "\270F";
}

.ico-star:before {
   content: "\10032";
}

.ico-recycle:before {
   content: "\267C";
}