// page components

// HEADERS
.header {
    // cover images
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
}

// FOOTER
.footer {
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
}
