// bootsmooth styles 
html {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  /*@media (max-width: 960px) {
    font-size: $font-size-medium;
  }
  @media (max-width: 568px) {
    font-size: $font-size-small;
  }*/
}
 
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
  margin-bottom: $heading-margin;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: $heading-line-height;
  font-family: $font-heading;
}
  
// set body
body {
    font-family: $font-body;
    background-color: $background-color;
    color: $foreground-color;
}

// links
a {
    font-style: bold;
    cursor: pointer;
    color: $attention-color;
    
    &:visited {
        font-style: bold;
        text-decoration: underline;   
    }
    
    &:hover {
        font-style: bold;
        text-decoration: underline; 
    }
}

// breaks and horizontals
br {
    line-height: 150%;
}

// matching classes
@for $i from 1 through 6 {
    .h#{$i} {
        @extend h#{$i};
    }
}

ul, ol {
    padding-left: $spacing*3;
}

// center text
.txt-center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
// center elements 
.center {
    display: table;
    margin: 0 auto;
}

// scrollable elements
.scrollableX {
    overflow-x:auto;
}

.scrollableY {
    overflow-y:auto;
}

// bordered support class
.bordered {
    border: $border;
    border-radius: $border-radius;
}

// shadow support class
.shadowed {
    box-shadow: $shadow;
}

// image 
.img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

// video 
.video {
    max-width: 100%;
    height: auto;
}

// NAVIGATION

// add padding class if navigation is used
.nav-pad {
    padding-top: $nav-height;
}

// navigation bar
.nav {
    @extend %clearfix;

    width: 100%;
    left: 0;
    z-index: 999;
    padding: $nav-padding;
    height: $nav-height;
    font-size: $nav-font-size;
    background-color: $background-color;
    border-bottom: $border;
    
    .nav-title {
        float: left;
        display: block;
        padding-right: $spacing;
    }
    
    ul {
        @extend %clearfix;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: table;
        
        li {
            display: inline;
            float: left;
            a {
                transition: background-color $transition-time ease;
                color: $foreground-color;
                display: inline-block;
                padding-left: $spacing;
                padding-right: $spacing;
                text-decoration: none;
                
                &:hover {
                    background-color: $active-color;
                }
            }
        }
    }
    
    // menu button
    a.toggle-nav {
        display: none;
    }
    
    .menu-dropdown {
        
        li {
            padding: $spacing 0px;
            display: block;
            float: none;
            a {
                padding: 0 $spacing;
            }
        }
    }
}


// Drop Down Menu & Toggle
.toggle-dropdown {
    
    &:hover .menu-dropdown {
        //z-index:1;
        opacity:1;
        display: block;
    }
    
    // Drop Down Menu
    .menu-dropdown {
        padding: $spacing 0;
        position: relative;
        top: 100%;
        left: 0px;
        //z-index: -1;
        opacity: 0;
        display: none;
        transition: opacity $transition-time ease;
        box-shadow: $shadow;
        border: $border;
        background-color: $background-color;
        
        li {
            display: block;
            padding-top: $spacing;
            //font-size: $font-size-medium;
            
            a {
                display: block;
                color: $foreground-color;
                
                &:hover {
                    background-color: $active-color;
                    color: $background-color;
                }
            }
        }
    }
}

// Nav Menu Media Query
// - Anything smaller than iphone 5 resolution
@media only screen and (max-width : 568px) {
    .nav {
        padding: 0;
        
        .nav-title {
            display: none;
        }
        
        ul {
            display: none;
            height: auto;
            background-color: $background-color;
            position: absolute;
            width: 100%;
            border-bottom: $border;
        }
        
        li {
            display: block;
            float: none;
            width: 100%;
            padding-top: $spacing;
            padding-bottom: $spacing;
            
            a {
                width: 100%;
                text-align: center;
            }
        }
        
        a.toggle-nav {
    		display: block;
    		width: 100%;
    		position: relative;
    		background-color: $background-color;
    		padding: $spacing*2 $spacing $spacing*2 $spacing;
    		color: $foreground-color;
    		border-bottom: $border;
    	}
    	a.toggle-nav:after {
    		content:"";
    		display: inline-block;
    		position: absolute;
    	}
    	
    	.toggle-dropdown {
    	    a {
    	        text-decoration: underline;
    	    }
    	    .menu-dropdown {
    	        display: block;
    	        position: relative;
    	        opacity: 1;
    	        left: auto;
    	        z-index: 2;
    	        top: auto;
    	        box-shadow: none;
                border: none;
                a {
                    text-decoration: none;
                }
    	    }
    	}
    }
}

// fixed position
.fixed {
    position: fixed;
}

// fixed elements
.fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}


// PANELS
.panel {
    padding: $spacing;
    border-radius: $border-radius;
}

// color classes
.bg-inverse {
    background-color: $foreground-color !important;
    color: $background-color !important;
}
.bg-primary { background-color: $primary-color !important; }
.bg-attention { background-color: $attention-color !important; }
.bg-warning { background-color: $warning-color !important;}
.bg-success { background-color: $success-color !important; }
.bg-info { background-color: $info-color !important; }
.bg-active { background-color: $active-color !important; }

.txt-background { color: $background-color !important; }
.txt-primary { color: $primary-color !important; }
.txt-attention { color: $attention-color !important; }
.txt-warning { color: $warning-color !important; }
.txt-success { color: $success-color !important; }
.txt-info { color: $info-color !important; }
.txt-active { color: $active-color !important; }


// BUTTONS
.btn {
    @extend .bordered;
    
    transition: background-color $transition-time ease;
    
    display: inline-block;
    height: $btn-height;
    padding: 0 $spacing;
    text-align: center;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: $btn-height;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: $spacing;
    -webkit-appearance:none;
    background-color: $background-color;
    color: $foreground-color;
    
    &:hover {
        background-color: $background-color-dark;
    }
}

.btn-primary {
    @extend .btn;
    background-color: $primary-color;
    color: $background-color;
    &:hover {
        background-color: $primary-color-dark;
    }
}
.btn-success {
    @extend .btn;
    background-color: $success-color;
    color: $background-color;
    &:hover {
        background-color: $success-color-dark;
    }
}
.btn-warning {
    @extend .btn;
    background-color: $warning-color;
    color: $background-color;
    &:hover {
        background-color: $warning-color-dark;
    }
}
.btn-info {
    @extend .btn;
    background-color: $info-color;
    color: $background-color;
    &:hover {
        background-color: $info-color-dark;
    }
}
.btn-attention {
    @extend .btn;
    background-color: $attention-color;
    color: $background-color;
    &:hover {
        background-color: $attention-color-dark;
    }
}
// TABLES
.table {
    @extend .center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    
    td, th {
      padding: $spacing;
    }
}

.table-bordered {
    td, th {
        @extend .bordered;
    }
}

// FORMS
.form {
    margin: 0 auto;
    position:relative;
    width: 100%;
}

fieldset {
    border: none;
    border-radius: $border-radius;
}

label {
    font-weight: bold;
}

.form-input {
    display: block;
    width: 100%;
    padding: $spacing $spacing*2;
    font-size: $font-size;
    color: $foreground-color;
    background-color: $background-color;
    background-image: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: $border;
    border-radius: $border-radius;
    verticle-align: middle;
    
    &:required {
        border-color: $warning-color;
    }
}

.form-input-inline {
    @extend .form-input;
    display: inline;
    width: auto;
    margin-left: $spacing;
    margin-right: $spacing;
    text-align: center;
    font-weight: bold;
}

.nav-input {
    @extend .form-input;
    border: $border;
}

// inline forms


// CHECK & RADIO BOXES

// hide default
input[type="checkbox"],
input[type="radio"] {
    display:none;
}

.checkbox .radio {
    &:hover {
        text-decoration: underline;
    }
}

.checkbox {
    
    label:before {
        transition: background-color $transition-time ease;
        
        content: "";
        display: inline-block;
     
        width: $font-size-medium;
        height: $font-size-medium;
        border-radius: $border-radius;
        line-height: $line-height;
        margin-right: $spacing;
        border: $border;
        background-color: $background-color;
    }
    
    input[type=checkbox]:checked + label:before {
        //content: "\2713";
        content: "\2705";
        font-size: $spacing;
        //background-color: $active-color;
        text-align: center;
        vertical-align: middle;
        box-shadow: $shadow;
    }
}

.radio {
    label:before {
        transition: background-color $transition-time ease;
        content: "";
        display: inline-block;
     
        width: $font-size-medium;
        height: $font-size-medium;
        border-radius: 100%;
        line-height: $line-height;
        margin-right: $spacing;
        border: $border;
        background-color: $background-color;
    }
    
    input[type=radio]:checked + label:before {
        content: "\272A";
        font-size: $spacing;
        //background-color: $active-color;
        text-align: center;
        vertical-align: middle;
        box-shadow: $shadow;
    }
}

// HEADERS
.header {
    // cover images
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
}

// LIST GROUPS
.list-group {
    @extend .bordered;
    border-radius: $border-radius;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    li {
        border-bottom: $border;
        padding: $spacing;
        
        &:last-child {
            border-bottom: none;
        }
    }
}

// BADGE
.badge {
    @extend .pull-right;
    @extend .bordered;
    
    display: inline-block;
    white-space: no-wrap;
    min-width: $spacing*2;
    padding: $spacing;
    font-size: $font-size-small;
    font-weight: 700;
    line-height: 1;
    color: $background-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: $foreground-color;
    border-radius: $border-radius;
}

// FOOTER
.footer {
    height: $footer-height;
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
}
// CODE AND PRE
pre, code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}