// bootsmooth supporting styles 

// center elements 
.center {
    display: table;
    margin: 0 auto;
}

// scrollable elements
.scrollableX {
    overflow-x:auto;
}

.scrollableY {
    overflow-y:auto;
}

// bordered support class
.bordered {
    border: $border;
    border-radius: $border-radius;
}

// shadow support class
.shadowed {
    box-shadow: $shadow;
}

// image 
.img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

// video 
.video {
    max-width: 100%;
    height: auto;
}

// fixed position
.fixed {
    position: fixed;
}

// fixed elements
.fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}

