// default theme variables
// color colors

$color-text: #2C2A29;
$color-body: #FFF;

$color-primary: #002855;
$color-secondary: #EAAA00;
$color-accent: #E35205;

$color-gray: #968C83;
$color-light-gray: #BFB8AF;
$color-dark-gray: #6E6259;

// spacing
$spacing: 8px;

// font
$font-size: 18px;
$font-size-medium: 16px;
$font-size-small: 16px;
$font-weight: 100;
$heading-line-height: 1.1;
$heading-margin: 1em;
$line-height: 1.5;

// border vars
$border-radius: 0px;
$border: 1px solid $color-light-gray;

// font styles
$font-body: 'Open Sans', sans-serif;
$font-heading: 'PT Sans', sans-serif;

// navigation
$nav-height: 65px;
$nav-font-size: 1em;
$nav-padding: 15px 0px 15px 8px;

// lists
// $list-padding-left: 15px;

// footer
$footer-height: $nav-height;
$footer-padding: $nav-height;

// cards
$card-height-unit: 150px;
$card-heading-height: 50px;
$card-footer-height: 50px;
$card-sm-height: $card-height-unit;
$card-md-height: $card-height-unit*2;
$card-lg-height: $card-height-unit*3;

// animations
$transition-time: 0.4s;

@mixin fadeout($time) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s $time, opacity $time linear;
}

$offscreen-transition: $transition-time ease;
$nav-link-transition: margin $transition-time ease;

$highlight-transition: all 0.2s ease-in-out;
$card-transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);

// shadows
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-hover: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);