// general color defines
// Bootsmooth only uses 3 colors: bg, fg, accent (links, buttons)
$background-color: $whiteSmoke;
$foreground-color: $grayCharcoal;
$accent-color: $blueAzure;

// spacing
$spacing: 8px;

// font
$font-size: 18px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-weight: 100;
$heading-line-height: 1.1;
$heading-margin: 1em;
$line-height: 1.5;

// border vars
$border-radius: 0px;
$border: 1px solid $foreground-color;

// font styles
$font-body: 'Open Sans', sans-serif;
$font-heading: 'PT Sans', sans-serif;

// navigation
$nav-font-size: $font-size-medium;
$nav-height: $nav-font-size+$spacing*4;
$nav-padding: $spacing*2 $spacing $spacing*2 $spacing;

// buttons
$btn-height: 38px;

// footer
$footer-height: $nav-height;
$footer-padding: $nav-height;

// animations
$transition-time: 0.4s;

// shadows
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);